<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd">  
      
     <bean id="userDao" class="com.env.qualitymetrics.dao.impl.UserDaoImpl">
     	<property name="sessionFactory" ref="sessionFactory"></property>
     </bean>
     
     <bean id="projectDao" class="com.env.qualitymetrics.dao.impl.ProjectDaoImpl">
     	<property name="sessionFactory" ref="sessionFactory"></property>
     </bean>
     
     
     
     <bean id="rankingDao" class="com.env.qualitymetrics.dao.impl.RankingDaoImpl">
     	<property name="sessionFactory" ref="sessionFactory"></property>
     </bean>
      
     <bean id="sprintDao" class="com.env.qualitymetrics.dao.impl.SprintDaoImpl">
     	<property name="sessionFactory" ref="sessionFactory"></property>
     </bean>
     
      <bean id="weightDao" class="com.env.qualitymetrics.dao.impl.WeightDaoImpl">
     	<property name="sessionFactory" ref="sessionFactory"></property>
     </bean>
     
      <bean id="userProjectDao" class="com.env.qualitymetrics.dao.impl.UserProjectDaoImpl">
     	<property name="sessionFactory" ref="sessionFactory"></property>
     </bean>
     
     <!-- testlink -->
     <bean id="testlinkHandler" class="com.env.qualitymetrics.tool.TestLinkHandler">
     	<property name="dataSource_testlink" ref="dataSource_testlink"></property>
     </bean>
     
     <bean id="testlinkForSuiteHandler" class="com.env.qualitymetrics.tool.TestLinkForSuiteHandler">
     	<property name="dataSource_testlink" ref="dataSource_testlink"></property>
     </bean>
     
     <!-- Redmine -->
     <bean id="redmineCommon" class="com.env.qualitymetrics.tool.RedmineCommon">
     	<property name="dataSource_redmine" ref="dataSource_redmine"></property>
     </bean>
     
     <bean id="redmineBugOmission" class="com.env.qualitymetrics.tool.RedmineBugOmission">
     	<property name="dataSource_redmine" ref="dataSource_redmine"></property>
     	<property name="redmineCommon" ref="redmineCommon"></property>
     </bean>
     
     <bean id="redmineBugOmissionForCategory" class="com.env.qualitymetrics.tool.RedmineBugOmissionForCategory">
     	<property name="dataSource_redmine" ref="dataSource_redmine"></property>
     	<property name="redmineCommon" ref="redmineCommon"></property>
     </bean>
     
     <bean id="redminePatch" class="com.env.qualitymetrics.tool.RedminePatch">
     	<property name="dataSource_redmine" ref="dataSource_redmine"></property>
     	<property name="redmineCommon" ref="redmineCommon"></property>
     </bean>
     
     <bean id="redmineSupport" class="com.env.qualitymetrics.tool.RedmineSupport">
     	<property name="dataSource_redmine" ref="dataSource_redmine"></property>
     	<property name="redmineCommon" ref="redmineCommon"></property>
     </bean>
     
      <bean id="redmineSupportForCategory" class="com.env.qualitymetrics.tool.RedmineSupportForCategory">
     	<property name="dataSource_redmine" ref="dataSource_redmine"></property>
     	<property name="redmineCommon" ref="redmineCommon"></property>
     </bean>
 
     <bean id="redmineBugNew" class="com.env.qualitymetrics.tool.RedmineBugNew">
     	<property name="dataSource_redmine" ref="dataSource_redmine"></property>
     	<property name="redmineCommon" ref="redmineCommon"></property>
     </bean>
     
     <bean id="redmineBugNewForCategory" class="com.env.qualitymetrics.tool.RedmineBugNewForCategory">
     	<property name="dataSource_redmine" ref="dataSource_redmine"></property>
     	<property name="redmineCommon" ref="redmineCommon"></property>
     </bean>
     
     <bean id="redmineReopen" class="com.env.qualitymetrics.tool.RedmineReopen">
     	<property name="dataSource_redmine" ref="dataSource_redmine"></property>
     	<property name="redmineCommon" ref="redmineCommon"></property>
     </bean>
     
     <bean id="redmineReopenForCategory" class="com.env.qualitymetrics.tool.RedmineReopenForCategory">
     	<property name="dataSource_redmine" ref="dataSource_redmine"></property>
     	<property name="redmineCommon" ref="redmineCommon"></property>
     </bean>
     
     <!-- Sonar -->
      <bean id="sonarHandler" class="com.env.qualitymetrics.tool.SonarHandler">
     	<property name="dataSource_sonar" ref="dataSource_sonar"></property>
     </bean>
     
     <!-- SurveyMonkey -->
      <bean id="surveyMonkeyHandler" class="com.env.qualitymetrics.tool.SurveyMonkeyHandler">
     	<property name="accessToken">
     		<value>${surveymonkey.accessToken}</value>
     	</property>
     	<property name="apiKey">
     		<value>${surveymonkey.apiKey}</value>
     	</property>
     </bean>

     <!-- 获取user相关服务 -->
     <bean id="userServiceBase" class="com.env.qualitymetrics.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"></property>
    </bean>
    
    <bean id="userService" parent="transactionProxy">
    	<property name="target" ref="userServiceBase"></property>
    </bean>
    
    <bean id="userProjectService" class="com.env.qualitymetrics.service.impl.UserProjectServiceImpl">
    	<property name="userProjectDao" ref="userProjectDao"></property>
    </bean>

    
    <!-- 获取project相关服务 -->
    <bean id="projectServiceBase" class="com.env.qualitymetrics.service.impl.ProjectServiceImpl">
        <property name="projectDao" ref="projectDao"></property>
    </bean>
    
    <bean id="projectService" parent="transactionProxy">
    	<property name="target" ref="projectServiceBase"></property>
    </bean>
    
    <!-- 获取rankings相关服务 -->
    <bean id="rankingServiceBase" class="com.env.qualitymetrics.service.impl.RankingServiceImpl">
        <property name="rankingDao" ref="rankingDao"></property>
    </bean>
    
    <bean id="rankingService" parent="transactionProxy">
    	<property name="target" ref="rankingServiceBase"></property>
    </bean>
    
    <!-- 获取sprint相关服务 -->
    <bean id="sprintServiceBase" class="com.env.qualitymetrics.service.impl.SprintServiceImpl">
        <property name="sprintDao" ref="sprintDao"></property>
    </bean>
    
    <bean id="sprintService" parent="transactionProxy">
    	<property name="target" ref="sprintServiceBase"></property>
    </bean>
    
     <!-- 获取weight相关服务 -->
    <bean id="weightServiceBase" class="com.env.qualitymetrics.service.impl.WeightServiceImpl">
        <property name="weightDao" ref="weightDao"></property>
    </bean>
    
    <bean id="weightService" parent="transactionProxy">
    	<property name="target" ref="weightServiceBase"></property>
    </bean>
    
     <bean id="sysUtil" class="com.env.qualitymetrics.common.SysUtil" >
    	<property name="des" value="${sonar.DES}" />
    	<property name="code" value="${sonar.CODE}" />
    	<property name="ut" value="${sonar.UT}" />
    	<property name="classComplexity" value="${sonar.DES.ClassComplexity}" />
    	<property name="functionComplexity" value="${sonar.DES.FunctionComplexity}" />
    	<property name="fileComplexity" value="${sonar.DES.FileComplexity}" />  
    	<property name="doc" value="${sonar.CODE.DOC}" />  
    	<property name="rules" value="${sonar.CODE.RULES}" />  
    	<property name="dryness" value="${sonar.CODE.DRYNESS}" />  
    	<property name="codeCoverage" value="${sonar.UT.CodeCoverage}" />  
    	<property name="unitTestSuccessDensity" value="${sonar.UT.UnitTestSuccessDensity}" />  
    </bean>
</beans>